*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: rgb(70,54,170);
    background: linear-gradient(180deg, rgba(70,54,170,1) 0%, rgba(28,22,68,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* Top Navigation */

#top-nav{
    background: rgb(64,49,156);
    background: linear-gradient(-80deg, rgba(64,49,156,1) 0%, rgba(100,129,197,1) 200%);
    display:flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#top-nav__title{
    color: white;
    margin: 0px 20px;
    font-size: 2em;
    font-weight: bold;
}

#top-nav__links{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

#top-nav__links li{
    list-style: none;
}

#top-nav__links li a{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 300;
}

#top-nav__links li a:hover{
    color: black;
}

@media screen and (max-width: 600px){
    #top-nav{
        justify-content: center;
    }
    #top-nav__links{
        display: none;
    }
    
    #top-nav__title{
        margin: 0px auto;
    }
}

/* Contents */

#main-title{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    font-size: 10vw;
    color: white;
    line-height: 0.9;
    padding: 20px;
}

#main-title svg{
    margin-top: 20px;
}

#main-subtitle{
    color: white;
    font-size: 3vw;
    font-weight: 300;
    margin-left: 100px;
    min-width: 884px;
    padding: 20px;
}

@media screen and (max-width: 905px){
    #main-subtitle{
        min-width: 400px;
    }
}


@media screen and (max-width: 720px){
    #main-title{
        align-items: center;
        font-size: 12vw;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    #main-subtitle{
        min-width: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        font-size: 5vw;
    }
    .svg{
        display: none;
    }
}

