*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: rgb(70,54,170);
    background: linear-gradient(180deg, rgba(70,54,170,1) 0%, rgba(28,22,68,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Top Navigation */

#top-nav{
    background: rgb(64,49,156);
    background: linear-gradient(-80deg, rgba(64,49,156,1) 0%, rgba(100,129,197,1) 200%);
    display:flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#top-nav__title{
    color: white;
    margin: 0px 20px;
    font-size: 2em;
    font-weight: bold;
}

#top-nav__links{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

#top-nav__links li{
    list-style: none;
}

#top-nav__links li a{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 300;
}

#top-nav__links li a:hover{
    color: black;
}

@media screen and (max-width: 600px){
    #top-nav{
        justify-content: center;
    }
    #top-nav__links{
        display: none;
    }
    
    #top-nav__title{
        margin: 0px auto;
    }
}


/* General */
.title{
    font-size: 10vh;
}

.subtitle{
    font-size: 3vh;
    font-weight: 300;
}

.normal-text{
    font-size: 1vh;
    font-weight: 300;
}

@media screen and (max-width: 720px){
    .title{
        font-size: 12vw;
    }

    .subtitle{
        font-size: 5vw;
    }

    .normal-text{
        font-size: 1.5vw;
    }
}

/* Container */

.sub-container{
    margin-left: 50px;
}

.data-container{
    margin-left: 100px;
}

@media screen and (max-width: 720px){
    .sub-container{
        margin: 0;
    }
    .data-container{
        margin: 0;
    }
}

/* SVG */

.small-svg{
    margin-right: 20px;
}

.tiny-svg{
    margin-right: 20px;
}


/* Contents */

.main-title{
    display:flex;
    flex-direction: row;
    color: white;
    line-height: 0.9;
    padding: 20px;
    font-weight: bold;
}

.main-subtitle{
    color: white;
    font-weight: 300;
    margin-left: 100px;
    min-width: 884px;
    max-width: 884px;
    padding: 20px;
}

@media screen and (max-width: 905px){
    .main-subtitle{
        min-width: 400px;
    }
}


@media screen and (max-width: 720px){
    .main-title{
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .main-subtitle{
        min-width: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .svg{
        display: none;
    }
}

.sub-title{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
}

.sub-subtitle{
    color: white;
    font-weight: 300;
    padding: 20px;
}

@media screen and (max-width: 720px){
    .sub-title{
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .sub-subtitle{
        margin: 0;
        text-align: center;
        width: 100%;
    }
}

.data-title{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}

.data-subtitle{
    color: white;
    font-weight: 300;
    font-style: italic;
    padding: 20px;
    margin-left: 60px;
}

.data-table{
    color: white;
    font-weight: 300;
    text-align: center;
}

.data-table table{
    border-collapse: collapse;
    width: 100%;
}

.data-table td, .data-table th{
    padding: 5px 20px;
}

@media screen and (max-width: 720px){
    .data-title{
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .data-subtitle{
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .data-table{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 0;
    }
}

#main__contacts{
    list-style-type: none;
}

#main__contacts li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#main__contacts li img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 720px){
    #main__contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #main__contacts li img{
        width: 30px;
        height: 30px;
    }
}
